.title{
	margin-left: 45%;
	margin-top: 30px;
}

.login-btn-wrap{
	display: inline-block;
	float: right;
  	margin-right: 300px;
}

.login-btn{
	margin: 10px;
 	width:95px;
    height:35px;
}

.join-btn{
	margin: 10px;
	width:95px;
    height:35px;
}

.content{
	height: 500px;
	width: 15%;
	float: right;
	border: 4px dashed #bcbcbc;
    font-size: 13px;
	margin-top: -800px;
	margin-right: 500px;
}

.calendar{
	margin: 40px 5px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

  #calendar {
    max-width: 800px;
    margin: 150px ;
  }