<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<!-- Full Calendar -->
	<script src='/js/index.global.js'></script>
	
	<script th:inline="javascript">
		document.addEventListener('DOMContentLoaded', function() {
			let today = new Date();
			
			let year = today.getFullYear();
			let month = today.getMonth() + 1;
			let date = today.getDate();
			let reservationData = /*[[${reservations}]]*/;
			let eventsData = new Array();
				
			for(let item in reservationData){
				let eventsInfo = new Object();
				eventsInfo.title = reservationData[item].name;
				eventsInfo.start = reservationData[item].reserve_date;
				
				eventsData.push(eventsInfo);
			}
		    let calendarEl = document.getElementById('calendar');
			
		    let calendar = new FullCalendar.Calendar(calendarEl, {
		      initialDate: year+'-'+month+'-'+date,
		      editable: false,
		      selectable: false,
		      businessHours: true,
		      dayMaxEvents: true, // allow "more" link when too many events
		      events: eventsData
		    });
	
		    calendar.render();
		    
		    calendar.on('dateClick', function (info) {
		        //alert('clicked on ' + info.dateStr);
			});
		});
	</script>
	
	<script src="/js/main.js"></script>

    <title>MAIN</title>
</head>
<body>
	<div id="wrapper" class="wrapper">
	 
		<div class="title">
	       	<h1>HAW</h1>
		</div>
		  		
		<div class="login-btn-wrap">
			<button class="login-btn" id="login-btn" onclick="moveLink('/form/login')">로그인</button>
			<button class="join-btn" id="join-btn" onclick="moveLink('/form/join')">회원가입</button>
		</div>
		<div class="content-wrap">
			<div class="calendar-wrap">
			<!--달력-->
				<div id="calendar" class="calendar"></div>
			</div>
			
			<div class="content">
				<div id="reservation" class="reservation">
					<ul>
						<th:block th:each="reservation, i : ${reservations}">
							<li th:if="${reservation.reserve_date == #calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}" th:text="${reservation.name}"></li>
						</th:block>
					</ul>
				</div>
					
				<div class="Refusal_to_accept-btn-wrap">
					<button class="Refusal_to_accept-btn" id="Refusal_to_accept-btn" onclick="moveLink('/web/reservation')">예약관리</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>